* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(251, 63, 240);
    background: linear-gradient(87deg, rgba(251, 63, 240, 1) 0%, rgba(76, 70, 252, 1) 100%);
    border-radius: 30px;
}


body {
    background-color: black;
    color: white;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(213, 226, 23);
    font-size: 5rem;
    text-shadow: -5px 0px #558ABB;
    padding: 15px;
    margin: 0.2em;
}


.header {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-image: url("/assets/img/hockey1.jpg");
    background-size: 100% 100%;
    border-radius: 0%;
    background-repeat: no-repeat;
}

.header2 {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-image: url("/assets/img/hockey2.jpg");
    background-size: 100% 100%;
    border-radius: 0%;
    background-repeat: no-repeat;
}

.header3 {
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    height: 50vh;
    background-image: url("/assets/img/hockey3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.logo {
    width: 250px;
    height: 250px;
    transform: translate(800px, -350px);
}

.logoform {
    width: 250px;
    height: 250px;
    transform: translate(800px, -300px);
}

section h2 {
    background-color: black;
    color: white;
    height: 3rem;
    padding: .5em;
    text-align: center;
    border: solid 1px white;
}

nav a {
    size: 40px;
    margin: 1px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    height: 30px;
    width: 40em;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;

}

nav a:hover {
    color: rgb(255, 0, 157);
    background-color: aliceblue;
    
}

nav {
    position: absolute;
    background: transparent;
    right: 10vh;
    top: 7vh;
 }

 .bold{
    font-weight: bold;
}


 .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

article {
    margin: 4em;
}

article h2 {
    border: none;
    text-align: start;
    padding: 5px;
    height: 2em;

}

article a {
    text-decoration: none;
    color: yellow;
}

#mdhl-modif {
    text-align: center;
    font-size: large;
}

table,
th,
td,
tr {
    text-align: start;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

ul {
    list-style-type: circle;
    margin: 2em;
}

ol {
    margin: 2em;
}

.mapas:hover {
    transform: scale(2);

}

.main {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 1150px;

}

form {

    display: flex;
    width: 65%;
    padding-left: 1rem;
    line-height: 23px;
    border: 0;
    align-items: flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.835);
}

.form {
    display: flex;
    gap: 1.5rem;
    margin-left: 20rem;
}

label {
    margin: 2rem;
}

fieldset {
    border: 0;
    padding: 10px;
    
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 1rem;

}

div dl{
text-align: justify;

}

.radio {
    display: flex;
    align-items: center;
}

form dd {
    margin: 1rem;
}

.submit {
    align-self: flex-start;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding: 1rem;
}

.submit:hover {
    border-color: aliceblue;
    
    color: #fcfcfc;
    border-radius: 0%;
    transition: 1s;
    
}

.input {
    margin-bottom: 2rem;
}


.registration {
    margin-left: 1.2rem;
    margin-top: -2rem;
}


#contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contacto p {
    flex-grow: 1;
}

.container article {
    width: 40vw;
}

footer {
    display: flex;
    border-color: azure;
    height: 4rem;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1861px) {
    nav{
        right: 20vh;
        top: 14vh;
    }
    .logo {
        width: 200px;
        height: 200px;
        transform: translate(750px, -400px);
    }
        
    .logoform {
        width: 200px;
        height: 200px;
        transform: translate(650px, -450px);
    }
}

@media screen and (max-width:1607px) {
    nav{
        top: 16vh;
    }
    .logo {
        width: 150px;
        height: 150px;
        transform: translate(600px, -250px);
    }
        
    .logoform {
        width: 150px;
        height: 150px;
        transform: translate(600px, -200px);
    }

}

@media screen and (max-width:1036px) {
    nav{
        top: 29vh;
    }
    .logo {
        width: 150px;
        height: 150px;
        transform: translate(820px, -370px);
    }
        
    .logoform {
        width: 150px;
        height: 150px;
        transform: translate(820px, -370px);
    }
}

@media screen and (max-width:800px) {
    nav{
        top: 29vh;
    }
    .logo {
        width: 150px;
        height: 150px;
        transform: translate(820px, -440px);
    }
        
    .logoform {
        width: 150px;
        height: 150px;
        transform: translate(820px, -370px);
    }
}

@media screen and (max-width:500px) {
    nav{
        top: 40vh;
        right: 5vh;
      }
     

    .logo {
        width: 100px;
        height: 100px;
        transform: translate(280px, -400px);
    }
        
    .logoform {
        width: 100px;
        height: 100px;
        transform: translate(280px, -370px);
    }
}

.form {
    display: flex;
    gap: 1.4rem;
    margin: 0%;
}